/* right */
main {
    max-width: 90%;
    min-height: 100vh;
    margin: 1rem auto;
}

.right-wrap {
    width: 100vw;
    position: absolute;
    top: 5.6rem;
    z-index: 0;
}

/* top */
.unsign {
    display: flex;
    justify-content: space-between;
}

.signed {
    display: flex;
    flex-direction: column-reverse;
}

.green-button {
    padding: 0.6rem 0.4rem;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.4rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 7px;
    font-weight: bold;
}

.logout-button {
    margin-top: 1rem;
    margin-left: 1.2rem;
    padding: 0.6rem 0.4rem;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 1.4rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.8rem;
    font-weight: bold;
}

.user-info {
    font-size: 1.4rem;
    padding: 0.4rem;
}

.user-info strong {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--border-color);
}

/* list */
.board-title {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--main-color);
}

.board-title > span {
    padding: 0.4rem;
    border-bottom: 0.2rem solid var(--border-color);
}

.board-list {
    margin-top: 4ream;
}

.board-list li {
    margin-top: 1.5rem;
    padding: 2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 7px;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.075);
}

.board-list li a {
    display: flex;
    justify-content: left;
}

.profile > img {
    display: block;
    width: 5em;
    height: 5rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 50%;
}

.post {
    margin-left: 6%;
    max-width: 70%;
}

.post-title {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.post-content {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}

.post > .post-info {
    display: flex;
    font-size: 1.2rem;
}

.post-writer::after {
    content: '\007C';
    margin-left: 0.5rem;
}

.post-date {
    width: 100%;
    margin-left: 0.5rem;
}

.sub-font {
    color: var(--sub-font-color);
}

/* laptop */
@media screen and (min-width: 1024px) {
    .menu-button,
    .close-button {
        display: none;
    }

    .right-wrap {
        position: initial;
        z-index: 0;
        -webkit-box-shadow: inset 8px 7px 46px -36px rgba(0, 0, 0, 0.71);
        -moz-box-shadow: inset 8px 7px 46px -36px rgba(0, 0, 0, 0.71);
        box-shadow: inset 8px 7px 46px -36px rgba(0, 0, 0, 0.71);
    }

    .right-wrap {
        max-height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        overflow: scroll;
    }

    .board-list li a {
        display: flex;
        justify-content: left;
    }

    .profile > img {
        width: 5em;
        height: 5rem;
        margin-left: 40%;
        opacity: 50%;
    }

    .post {
        max-width: 80%;
    }

    .post-title {
        margin-bottom: 0.4rem;
    }

    .post-content {
        margin-bottom: 0.4rem;
    }
}

/* desktop */
@media screen and (min-width: 1280px) {
    .profile > img {
        margin-left: 45%;
    }
}

/* desktop-xl */
@media screen and (min-width: 1536px) {
    .profile > img {
        margin-left: 45%;
    }
    .post {
        max-width: 86%;
    }
}
